/* CSS DOCUMENT */
@charset "UTF-8";

@font-face {
    font-family: "Morally serif";
    src: url(fuentes/Morally\ Serif.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url(fuentes/BarlowCondensed-Regular.ttf) format("opentype");
    font-weight: normal;
    font-style: normal;
}

font body {
    background-color: #f1f1f1;
}

main {
    background-color: #f1f1f1;
}

.inclinada {
    transform: rotate(-11deg);
}

.inclinada-dos {
    max-width: 260px;
    height: auto;
    transform: rotate(11deg);
    margin-right: 60px;
}

.parteuno {

    width: 100%;
    padding: 18px 18px;
    background-color: #f0f0f0;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 100px;
    padding-top: 100px;
}

.partedos {
    width: 100%;
    padding: 18px 18px;
    padding-top: 100px;
    background-color: #f1f1f1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}

.partetres {
    width: 100%;
    padding: 100px 18px 80px 18px;
    background-color: #f1f1f1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}


nav a {

    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.2rem;
    font-weight:
}


.parteuno h1 {
    text-align: left;
    font-size: 5rem;
    font-family: "Morally serif", serif;
}

.partedos h1 {
    text-align: left;
    font-size: 2rem;
    font-family: "Morally serif", serif;
    width: 100%;
    margin-bottom: 50px;
}

.partetres h1 {

    text-align: center;
    font-family: "Morally serif", serif;

}

h2 {
    text-align: left;
    font-size: 2rem;
    font-family: "Barlow Condensed", sans-serif;
}

nav {
    text-align: end;
}

.contenedor-proyectos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    width: 100%;

}

.bloque-texto {
    display: flex;
    flex-direction: column;
    gap: 0px;

}

.bloque-texto h2 {
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 1.0;
    margin: 0;
    margin-bottom: 5px;
}

.bloque-texto h1 {
    font-family: "Morally Serif", serif;
    margin: 0;
}

.contenedor-bloques {
    width: 60%;

    display: flex;
    flex-direction: row;

    flex-wrap: wrap;

    gap: 30px 40px;

}

.bloque {
    width: 45%;

    box-sizing: border-box;
}

@import url('https://googleapis.com');


.bloque p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #444444;
}

footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 40px;
    padding: 40px 0;
    margin: 0;
}